{{template "header"}}
    <title> 首页 - 我的 beego 博客</title>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        {{template "navbar" .}}
      </div>
    </div>
    <div class="container">
      <div class="page-header">
        <h1>我的第一篇博客</h1>
        <h3 class="test-muted">文章发表与2013年x月x日xxxx，共有1000次浏览，200个好评</h3>
        <p>
          大家好，这是我的第一篇博客，多谢观看。
        </p>
      </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </body>
</html>